@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	padding: 0;
    border: none;
	box-sizing: border-box;
	width: 100vw;
	font-family: "Montserrat", sans-serif;
	background-color: #15181A;
}
h1 {
	font-size: 3.3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
#test {
	background-color: #2088ff1f
}
.home-nav-el {
	@apply relative h-10 left-0 w-40 overflow-hidden;
}
.scroll-element {
	@apply absolute right-0 -translate-y-1/2 h-[15vh] w-2 bg-neutral-700 rounded-l-md hover:w-6 transition-all duration-300;
}
.gradient-radial {
	background-image: radial-gradient(ellipse at center, #ffffff7d 0%, #ff882000 70%);
}
.shadow {
	filter: drop-shadow(0 0 1rem black);
}
.section-bg {
	@apply transition-all duration-300 absolute w-full h-full bg-secondary top-0 left-0 -z-10 group-hover:translate-x-full
	before:w-full before:h-full before:bg-[rgba(0,0,0,0.17)] before:absolute before:top-0 before:-left-full;
}
.section-title {
	@apply ml-8 mb-4 group-hover:ml-16 transition-all duration-300;
}
.section-desc {
	@apply text-neutral-300 transition-all duration-300 group-hover:ml-4 mr-4;
}
.transition-300 {
	@apply transition-all duration-300;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat.ttf");
}
@font-face {
	font-family: "Forum";
	src: url("./fonts/Forum.ttf");
}
@font-face {
	font-family: "Montserrat-Thin";
	src: url("./fonts/Montserrat-Thin.ttf");
}
@font-face {
	font-family: "Montserrat-SemoBold";
	src: url("./fonts/Montserrat-SemiBold.ttf");
}
@font-face {
	font-family: "Glamore";
	src: url("./fonts/Glamore.otf");
}
@font-face {
	font-family: "Nolluqa";
	src: url("./fonts/Nolluqa.otf");
}
::-webkit-scrollbar {
	display: none;
}
@-moz-document url-prefix() {
	body {
	  scrollbar-width: none;
	}
}