@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
	min-width: 1400px;
	min-height: 700px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
.content {
	width: 100vw;
	min-width: 1400px;
	height: 100vh;
}
.home-navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 43%);
}
.home-navbar-shadow {
	filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.25));
}
.home-navbar-line {
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
}
.animation-nav-main {
	@apply absolute left-1/2 -translate-x-1/2 duration-200 ease-in-out group-hover:translate-y-[-200%];
}
.animation-nav-hovered {
	@apply absolute left-1/2 -translate-x-1/2 duration-200 ease-in-out translate-y-[200%] group-hover:translate-y-[0];
}
.desc {
	clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
}
@font-face {
	font-family: "Chaviera";
	src: url("./fonts/Chaviera.otf");
}
@font-face {
	font-family: "Des-Morgan";
	src: url("./fonts/DesMorgan.otf");
}
@font-face {
	font-family: "Glamore";
	src: url("./fonts/Glamore.otf");
}
@font-face {
	font-family: "Madyntha-Geradine";
	src: url("./fonts/MadynthaGeradine.otf");
}
@font-face {
	font-family: "Nolluqa";
	src: url("./fonts/Nolluqa.otf");
}
@font-face {
	font-family: "Redemption";
	src: url("./fonts/Redemption.otf");
}