@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	padding: 0;
    border: none;
	box-sizing: border-box;
	width: 100vw;
	font-family: 'Times New Roman', Times, serif;
}
.home-nav-el {
	@apply h-10 left-[7.5vw] w-40 relative overflow-hidden;
}
.nav-animation-main {
	@apply absolute leading-[2.5rem] h-full w-full duration-200 ease-in-out group-hover:translate-y-[-100%];
}
.nav-animation-hovered {
	@apply absolute leading-[2.5rem] h-full w-full duration-200 ease-in-out translate-y-[100%] group-hover:translate-y-[0];
}
.scroll-element {
	@apply absolute right-0 -translate-y-1/2 h-[15vh] w-2 bg-neutral-700 rounded-l-md hover:w-6 transition-all duration-300;
}
/*
.nav-gradient-radial {
	background-image: radial-gradient(ellipse at center, #2f4789 0%, #c084fc00 70%);
	transition: left 0.4s ease-out;
}
*/
.main-gradient-radial {
	background-image: radial-gradient(ellipse at center, #142544 0%, #c084fc00 70%);
	transition: left 0.4s ease-out;
}
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat.ttf");
}
@font-face {
	font-family: "Des-Morgan";
	src: url("./fonts/DesMorgan.otf");
}
@font-face {
	font-family: "Glamore";
	src: url("./fonts/Glamore.otf");
}
@font-face {
	font-family: "Nolluqa";
	src: url("./fonts/Nolluqa.otf");
}
@font-face {
	font-family: "Montserrat-Thin";
	src: url("./fonts/Montserrat-Thin.ttf");
}
::-webkit-scrollbar {
	display: none;
}
@-moz-document url-prefix() {
	body {
	  scrollbar-width: none;
	}
}